{% extends 'home.html' %}
{% block content %}
    <h1>Books in {{ selection_type }} Selection</h1>
    {% if books %}
        <ul>
            {% for book in books %}
                <li>
                    <h2>{{ book.title }}</h2>
                    <p><strong>Author:</strong> {{ book.author }}</p>
                    <p><strong>Publisher:</strong> {{ book.publisher }}</p>
                    <p><strong>Summary:</strong> {{ book.summary }}</p>
                    <p><strong>Publication Date:</strong> {{ book.publication_date }}</p>
                    <p><strong>Pages:</strong> {{ book.pages }}</p>
                    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
                    <p><strong>Publisher Price:</strong> {{ book.publisher_price }}</p>
                </li>
            {% endfor %}
        </ul>
<p>
    <a href="{{ url_for('home') }}">Home</a> |
  </p>
    {% else %}
        <p>No books found for this selection.</p>
    {% endif %}
{% endblock %}
